<div style="text-align: center;">
    <ul class="pagination">
        <li  >
            <a onclick="query($!{result.pre})">
                <i class="icon-double-angle-left"></i>
            </a>
        </li>

        #foreach($page in [1..$result.total])

            #if ($!{result.total}>5)

                #if($!{page} == 1)

                    <li><a onclick="query($!{page})">$!{page}</a></li>
                    #if( (($result.page) - 2) > 1)
                        <li><a> ..</a></li>
                    #end
                #elseif ($!{page} <($result.page + 2 ) && ($result.page - 2 ) < $!{page} )

                    <li
                        #if($result.page==$!{page})
                                class="active"
                        #end
                    ><a onclick="query($!{page})">$!{page}</a></li>


                #elseif ($!{page} == $result.total)

                    #if( (($result.page) + 2) <  $result.total)
                        <li><a> ..</a></li>
                    #end

                    <li><a onclick="query($!{page})">$!{page}</a></li>

                #end

            #else

                <li
                    #if($result.page==$!{page})
                            class="active"
                    #end
                ><a onclick="query($!{page})">$!{page}</a></li>

            #end

        #end

        <li>
            <a onclick="query($!{result.next})">
                <i class="icon-double-angle-right"></i>
            </a>
        </li>
    </ul>
</div>
<script>
    function query(page){
        $("#page").val(page);
        $("#createForm").submit();
    }
</script>