<div class="row form-horizontal">
    <div class="form-group" style="max-width: 1100px;">
        <input type="hidden" class="col-sm-12" id="eventType" name="eventType" value="$!{eventReq.eventType}">
        <input type="hidden" class="col-sm-12" id="page" name="page" value="1">
        <label class="col-sm-1 control-label no-padding-right"> 上报时间 </label>
        <div class="col-sm-2">
            <div class="input-group">
                <input class="" id="report-time-picker" type="text" name="reportTime" value="$!{eventReq.reportTime}" >
                <span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
            </div>
        </div>
        <label class="col-sm-1 control-label no-padding-right"> 网格员 </label>
        <div class="col-sm-2">
            <input type="text" class="col-sm-12" name="window" id="window"  value="$!{eventReq.window}">
        </div>
        <label class="col-sm-1 control-label no-padding-right"> 审核人 </label>
        <div class="col-sm-2">
            <input type="text" class="col-sm-12" name="auditor" id="auditor" value="$!{eventReq.auditor}">
        </div>
    </div>
    <div class="form-group" style="max-width: 1100px;">
        <label class="col-sm-1 control-label no-padding-right"> 提报人 </label>
        <div class="col-sm-2">
            <input type="text" class="col-sm-12" name="commitUser" id="commitUser" value="$!{eventReq.commitUser}">
        </div>
        <label class="col-sm-1 control-label no-padding-right"> 派遣人 </label>
        <div class="col-sm-2">
            <input type="text" class="col-sm-12" name="handler" id="handler" value="$!{eventReq.handler}">
        </div>
        <label class="col-sm-1 control-label no-padding-right"> 事件编号 </label>
        <div class="col-sm-2">
            <input type="text" class="col-sm-12" style="width: 202px;" name="eventNo" id="eventNo" value="$!{eventReq.eventNo}">
        </div>
    </div>
    <div class="form-group" style="max-width: 1100px;">
        <label class="col-sm-1 control-label no-padding-right"> </label>
        <div class="col-sm-2">
            <select class="form-control" id="form-field-select-1" name="grade">
                <option value="">全部事件级别</option>
                <option value="1" #if($!{eventReq.grade}==1) selected="selected" #end>一般</option>
                <option value="2" #if($!{eventReq.grade}==2) selected="selected" #end>严重</option>
                <option value="3" #if($!{eventReq.grade}==3) selected="selected" #end>重大</option>
            </select>
        </div>
        <label class="col-sm-1 control-label no-padding-right"> 村/社区 </label>
        <div class="col-sm-2">
            <input type="text" class="col-sm-12" name="community" id="community" value="$!{eventReq.community}">
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-sm btn-primary" style="width: 100px;margin-right: 10px;">
                查询
                <i class="icon-search bigger-110"></i>
            </button>
            <button type="button" class="btn btn-sm btn-success" onclick="download()">
                导出Excel
                <i class="icon-file-text bigger-110"></i>
            </button>
        </div>
    </div>
</div>