<div class="modal fade" id="zTreeModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="rebutModalLabel">选择部门</h4>
            </div>
			<div class="modal-body" style="padding: 30px;">
                    <ul id="treeDemo" class="ztree"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script>
	function showOrganization() {
		$('#zTreeModal').modal('show');
    }

   // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
   var setting = {
			 
            check:{  
           	 	enable : true  
       		}, 
			data:{ // 必须使用data    
                simpleData : {    
                    enable : true,    
                    idKey : "id", // id编号命名     
                    pIdKey : "pId", // 父id编号命名      
                    rootId : 1  
                }    
            }, 
            callback: {  
           	 onClick : function(event, treeId, treeNode, clickFlag) {    
                if(true) {  
                   confirmShows("确认选择"+treeNode.name+"？", function () {
				   	$('#departmentId').val(treeNode.id);
				   	$('#department').val(treeNode.name);
				    $('#zTreeModal').modal('hide');
    			   });
                }    
            }  
    		} 
		};
		function onCheck(e, treeId, treeNode){
             alert(" 节点id是：" + treeNode.id + ", 节点文本是：" + treeNode.name);   
        }  
		
		var zNodes = $!{zNode};
 
		$(document).ready(function(){
			$.fn.zTree.init($("#treeDemo"), setting, zNodes);
		});
   
</script>