<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpt.mapper.ext.ExpensesExtMapper">
  <resultMap id="BaseResultMap" type="com.cpt.model.Expenses">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="expenses" jdbcType="DECIMAL" property="expenses" />
    <result column="expenses_time" jdbcType="VARCHAR" property="expensesTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updater_id" jdbcType="BIGINT" property="updaterId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
   <sql id="Base_Column_List">
    id, user, user_id, expenses,expenses_time, creator_id, create_time, updater_id, update_time, is_deleted
  </sql>
  <select id="pageList" parameterType="com.cpt.req.ExpensesQuery"  resultMap="BaseResultMap">
    select 
     <include refid="Base_Column_List" />
    from t_expenses
    <where> 
         is_deleted=0
	    <if test="userId != null ">
              AND  user_id  = #{userId} 
        </if>
        <if test="user != null and user != ''">
              AND  user LIKE concat('%',#{user},'%')
        </if>
    </where>
  </select> 
  
   <update id="logicalDelete" parameterType="java.lang.Long">
    update t_expenses
    set is_deleted = 1
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectListDepartment" resultType="com.cpt.vo.DepartmentExpenses" >
     SELECT b.`department`,b.`department_id`as departmentId ,SUM(expenses) AS total FROM `t_expenses` a JOIN  `t_user` b 
  	ON a.`user_id`=b.`id` WHERE b.`department_id` IN  
    <foreach collection="list" item="departmentId" index="index"
            open="(" close=")" separator=",">
            #{departmentId}
        </foreach>
     GROUP BY   b.`department_id` 
  </select>
  
  <select id="selectTotalDepartment" resultType="java.math.BigDecimal" >
     SELECT  SUM(expenses) AS total FROM `t_expenses` a JOIN  `t_user` b 
  	ON a.`user_id`=b.`id` WHERE b.`department_id` IN  
    <foreach collection="list" item="departmentId" index="index"
            open="(" close=")" separator=",">
            #{departmentId}
        </foreach>
  </select>
  
</mapper>