<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpt.mapper.ext.MessageReceiveExtMapper">
  <resultMap id="BaseResultMap" type="com.cpt.model.MessageReceive">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="message_id" jdbcType="BIGINT" property="messageId" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="receive_id" jdbcType="BIGINT" property="receiveId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="is_deleted" jdbcType="VARCHAR" property="isDeleted" />
  </resultMap>

  <insert id="insertList" parameterType="com.cpt.model.MessageReceive">
    insert into t_message_receive ( message_id, receiver,
      receive_id
      )
    values
    <foreach collection="list" item="item" index='index' separator="," >
      (#{item.messageId,jdbcType=BIGINT}, #{item.receiver,jdbcType=VARCHAR},
      #{item.receiveId,jdbcType=BIGINT})
    </foreach>
  </insert>

</mapper>