<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpt.mapper.ext.ProjectExtMapper">
  <resultMap id="BaseResultMap" type="com.cpt.vo.ProjectVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="report" jdbcType="VARCHAR" property="report" />
    <result column="tenderee" jdbcType="VARCHAR" property="tenderee" />
    <result column="designer" jdbcType="VARCHAR" property="designer" />
    <result column="agent" jdbcType="VARCHAR" property="agent" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="tender_time" jdbcType="TIMESTAMP" property="tenderTime" />
    <result column="commit_user" jdbcType="VARCHAR" property="commitUser" />
    <result column="commit_user_id" jdbcType="BIGINT" property="commitUserId" />
    <result column="commit_time" jdbcType="TIMESTAMP" property="commitTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="project_manager" jdbcType="VARCHAR" property="projectManager" />
    <result column="project_manager_id" jdbcType="BIGINT" property="projectManagerId" />
    <result column="project_manager_time" jdbcType="TIMESTAMP" property="projectManagerTime" />
    <result column="price_manager" jdbcType="VARCHAR" property="priceManager" />
    <result column="price_manager_id" jdbcType="BIGINT" property="priceManagerId" />
    <result column="price_manager_time" jdbcType="TIMESTAMP" property="priceManagerTime" />
    <result column="price_offer" jdbcType="VARCHAR" property="priceOffer" />
    <result column="price_offer_id" jdbcType="BIGINT" property="priceOfferId" />
    <result column="price_offer_time" jdbcType="TIMESTAMP" property="priceOfferTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
 	<collection property="workFlows"  ofType="com.cpt.model.WorkFlow" >
	    <id column="w_id" jdbcType="BIGINT" property="id" />
	    <result column="ref_id" jdbcType="BIGINT" property="refId" />
	    <result column="authority" jdbcType="TINYINT" property="authority" />
 	</collection>
  </resultMap>
   <resultMap id="BaseResultMap2" type="com.cpt.vo.ProjectVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="report" jdbcType="VARCHAR" property="report" />
    <result column="tenderee" jdbcType="VARCHAR" property="tenderee" />
    <result column="designer" jdbcType="VARCHAR" property="designer" />
    <result column="agent" jdbcType="VARCHAR" property="agent" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="tender_time" jdbcType="TIMESTAMP" property="tenderTime" />
    <result column="commit_user" jdbcType="VARCHAR" property="commitUser" />
    <result column="commit_user_id" jdbcType="BIGINT" property="commitUserId" />
    <result column="commit_time" jdbcType="TIMESTAMP" property="commitTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="project_manager" jdbcType="VARCHAR" property="projectManager" />
    <result column="project_manager_id" jdbcType="BIGINT" property="projectManagerId" />
    <result column="project_manager_time" jdbcType="TIMESTAMP" property="projectManagerTime" />
    <result column="price_manager" jdbcType="VARCHAR" property="priceManager" />
    <result column="price_manager_id" jdbcType="BIGINT" property="priceManagerId" />
    <result column="price_manager_time" jdbcType="TIMESTAMP" property="priceManagerTime" />
    <result column="price_offer" jdbcType="VARCHAR" property="priceOffer" />
    <result column="price_offer_id" jdbcType="BIGINT" property="priceOfferId" />
    <result column="price_offer_time" jdbcType="TIMESTAMP" property="priceOfferTime" />
     <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <select id="selectDetailProjectList" parameterType="com.cpt.req.ProjectReq" resultMap="BaseResultMap2">
	    select 
	  	 a.* 
	    from   t_project a  
	    <where>
          <if test="id != null">
              AND a.id = #{id}
          </if>
          <if test="name != null and name != ''">
              AND a.name LIKE concat('%',#{name},'%')
          </if>
          <if test="priceManager != null and priceManager != ''">
              AND a.price_manager LIKE concat('%',#{priceManager},'%')
          </if>
          <if test="priceOffer != null and priceOffer != ''">
              AND a.price_offer LIKE concat('%',#{priceOffer},'%')
          </if>
          <if test="tenderee != null and tenderee != ''">
              AND a.tenderee LIKE concat('%',#{tenderee},'%')
          </if>
          <if test="address != null and address != ''">
              AND a.address LIKE concat('%',#{address},'%')
          </if>
          <if test="status != null ">
              AND a.status = #{status} 
          </if>
           <if test="isDeleted != null ">
              AND a.is_deleted = #{isDeleted} 
          </if>
	      </where>
	      ORDER BY a.status ,a.commit_time DESC 
	 </select>
	 
	  <select id="selectProjectSchedule" resultType="com.cpt.vo.ScheduleVo">
	  	SELECT a.`authority` ,COUNT(b.id) as num ,b.`status` FROM `t_work_flow` a JOIN `t_project` b ON a.`ref_id`=b.`id` AND a.`status`=b.`status` 
	  	WHERE a.`user_id`=#{id} and a.`authority` != 4 and b.is_deleted=0 group by a.`authority` 
	  </select>
	  
	  <select id="selectPriceProject" resultType="java.lang.Integer" >
	  	SELECT  COUNT(b.id) as num   FROM `t_work_flow` a JOIN `t_project` b ON a.`ref_id`=b.`id`  
	  	WHERE a.`user_id`=#{id}  and a.`authority` in (3,4) and b.status in (2,3) and b.is_deleted=0
	  </select>
	  
	  <select id="selectManagerProject" resultType="java.lang.Integer" >
	  	SELECT  COUNT(b.id) as num   FROM `t_work_flow` a JOIN `t_project` b ON a.`ref_id`=b.`id` 
	  	 WHERE a.`user_id`=#{id}  and a.`authority`= 2 and b.status in (1,2,3) and b.is_deleted=0
	  </select>
	  
	  <select id="selectProjectList" parameterType="com.cpt.req.ProjectReq" resultMap="BaseResultMap">
	    select 
	  	 distinct a.*  , b.id as w_id, b.ref_id , b.authority
	    from   t_project a join t_work_flow b  on b.ref_id=a.id
	    <where>
	      <if test="userId != null">
              AND b.user_id=#{userId}
          </if>
          <if test="id != null">
              AND a.id = #{id}
          </if>
          <if test="name != null and name != ''">
              AND a.name LIKE concat('%',#{name},'%')
          </if>
          <if test="priceManager != null and priceManager != ''">
              AND a.price_manager LIKE concat('%',#{priceManager},'%')
          </if>
          <if test="priceOffer != null and priceOffer != ''">
              AND a.price_offer LIKE concat('%',#{priceOffer},'%')
          </if>
          <if test="tenderee != null and tenderee != ''">
              AND a.tenderee LIKE concat('%',#{tenderee},'%')
          </if>
          <if test="address != null and address != ''">
              AND a.address LIKE concat('%',#{address},'%')
          </if>
          <if test="status != null ">
              AND a.status = #{status} 
          </if>
          <if test="isDeleted != null ">
              AND a.is_deleted = #{isDeleted} 
          </if>
	      </where>
	      ORDER BY a.status ,a.commit_time DESC 
	 </select>
    <insert id="insertSelective" parameterType="com.cpt.model.Project">
  	<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      select LAST_INSERT_ID()
    </selectKey>
    insert into t_project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="report != null">
        report,
      </if>
      <if test="tenderee != null">
        tenderee,
      </if>
      <if test="designer != null">
        designer,
      </if>
      <if test="agent != null">
        agent,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="tenderTime != null">
        tender_time,
      </if>
      <if test="commitUser != null">
        commit_user,
      </if>
      <if test="commitUserId != null">
        commit_user_id,
      </if>
      <if test="commitTime != null">
        commit_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="projectManager != null">
        project_manager,
      </if>
      <if test="projectManagerId != null">
        project_manager_id,
      </if>
      <if test="projectManagerTime != null">
        project_manager_time,
      </if>
      <if test="priceManager != null">
        price_manager,
      </if>
      <if test="priceManagerId != null">
        price_manager_id,
      </if>
      <if test="priceManagerTime != null">
        price_manager_time,
      </if>
      <if test="priceOffer != null">
        price_offer,
      </if>
      <if test="priceOfferId != null">
        price_offer_id,
      </if>
      <if test="priceOfferTime != null">
        price_offer_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="report != null">
        #{report,jdbcType=VARCHAR},
      </if>
      <if test="tenderee != null">
        #{tenderee,jdbcType=VARCHAR},
      </if>
      <if test="designer != null">
        #{designer,jdbcType=VARCHAR},
      </if>
      <if test="agent != null">
        #{agent,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="tenderTime != null">
        #{tenderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commitUser != null">
        #{commitUser,jdbcType=VARCHAR},
      </if>
      <if test="commitUserId != null">
        #{commitUserId,jdbcType=BIGINT},
      </if>
      <if test="commitTime != null">
        #{commitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="projectManager != null">
        #{projectManager,jdbcType=VARCHAR},
      </if>
      <if test="projectManagerId != null">
        #{projectManagerId,jdbcType=BIGINT},
      </if>
      <if test="projectManagerTime != null">
        #{projectManagerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="priceManager != null">
        #{priceManager,jdbcType=VARCHAR},
      </if>
      <if test="priceManagerId != null">
        #{priceManagerId,jdbcType=BIGINT},
      </if>
      <if test="priceManagerTime != null">
        #{priceManagerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="priceOffer != null">
        #{priceOffer,jdbcType=VARCHAR},
      </if>
      <if test="priceOfferId != null">
        #{priceOfferId,jdbcType=BIGINT},
      </if>
      <if test="priceOfferTime != null">
        #{priceOfferTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>