<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpt.mapper.ext.UserExtMapper">
  <resultMap id="BaseResultMap" type="com.cpt.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="identity" jdbcType="TINYINT" property="identity" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <association property="role" javaType="com.cpt.model.Role">
         <id column="role_id" property="id"/>
         <result column="role_name" jdbcType="VARCHAR" property="roleName" /> 
    	 <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
     </association>
   
  </resultMap>
  
  <insert id="insertSelective" parameterType="com.cpt.model.User">
  	<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      select LAST_INSERT_ID()
    </selectKey>
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="identity != null">
        identity,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="identity != null">
        #{identity,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  
  <select id="query" parameterType="com.cpt.req.UserQuery"  resultMap="BaseResultMap">
     SELECT a.* ,c.id role_id,c.`role_name`,c.`role_code`
    FROM t_user a left JOIN t_user_role b ON a.id = b.user_id 
	left JOIN t_role c ON c.id = b.role_id 
    <where> 
	    <if test="account != null and account != ''">
              AND  a.account LIKE concat('%',#{account},'%')
        </if>
	    <if test="name != null and name != ''">
            AND  a.name LIKE concat('%',#{name},'%')
        </if>
         <if test="mobile != null and mobile != ''">
            AND  a.mobile LIKE concat('%',#{mobile},'%')
        </if>
        <if test="isDeleted != null" >
            AND  a.is_deleted  =#{isDeleted}
        </if>
        <if test="roleId != null" >
            AND  a.role_id  =#{roleId}
        </if>
    </where>
  </select>
   
   <select id="pageList" parameterType="com.cpt.req.UserQuery"  resultMap="BaseResultMap">
    select 
     *
    from t_user
    <where> 
	    <if test="orgId != null" >
	      department_id = #{orgId,jdbcType=BIGINT}
	    </if>
	    <if test="name != null and name != ''">
              AND  name LIKE concat('%',#{name},'%')
          </if>
    </where>
  </select>
  
   <select id="rolePageList" parameterType="com.cpt.req.UserQuery"  resultMap="BaseResultMap">
    SELECT a.id ,a.`name`,c.`role_name`,c.`role_code`
    FROM t_user a JOIN t_user_role b ON a.id = b.user_id 
	JOIN t_role c ON c.id = b.role_id 
    <where> 
	    <if test="name != null and name != ''">
              AND  name LIKE concat('%',#{name},'%')
        </if>
    </where>
  </select>
   
</mapper>