<!DOCTYPE html>
<html lang="en">
<head>
    #parse("tags.vm")
</head>
<body>
		<!--组织弹出框 -->
	#parse("common/ztree.vm")
	<div class="search_form">
        <form role="form" id="searchManagerForm">
            <label>姓名</label>
            <input class="input" type="text" id="name" name="name" value=""/>
            <label>部门</label>
			 <input type="hidden" id="departmentId" name="orgId"   class="input">
			 <input type="text"  readonly="readonly" id="department" name="department"  class="input">
			 <input id='selectButton' type='button' class='input' onclick='showOrganization()' value='选择部门'/> 			 
    	</form>
        <div class="search_form_opt">
            <button class="btn btn-primary" onclick="search({form:'searchManagerForm',grid:'manager_table'})">
                <i class="ace-icon fa fa-search"></i>搜索
            </button>
        </div>
		 <div class="search_form_clear"></div>
    </div>
		<input type="hidden" id="projectId" name="projectId" value="$!{projectId}"/>
		<!--  表格 -->
        <table id="manager_table"></table>
        <!-- 分页 -->
        <div id="manager_pager"></div>
    <script>
	
	
    $(function () {
		var managerUrl = '/user/query';
        //初始化table
        var manager_table = "#manager_table";
        var manager_pager = "#manager_pager";
        //初始化table
        $(manager_table).jqGrid({
            url: managerUrl,
            datatype: "json",
            height: '100%',
            width: '100%',
            colNames: ['ID', '姓名', '部门'],
            colModel: [
                {name: 'id', index: 'id', width: '30%'},
                {name: 'name', index: 'name', width: '40%'},
				{name: 'department', index: 'department', width: '40%'},
            ],
            viewrecords: true,
            rowNum: 10,
            rowList: [10, 25, 50, 100],
            pager: manager_pager,
            altRows: true,
            multiselect: true,
            multiboxonly: true,
            autowidth: true,
            //更新翻页图标
            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    updatePagerIcons(table);
                }, 0);
            },
			onSelectRow: function(id,status){ 
				if(status==true){
    				var projectId = $('#projectId').val();
					if(null==projectId){
                			alertShow("参数不能为空");
                			return  false;
                	}
    				 confirmShows("确认指定该用户为项目负责人？", function () {
                    	var url='/project/opt';
                        var param= {id:projectId,userId:id,optType:1};
                		ajaxUtil(url, param,"post",'/project/manager?id='+id);
    	 			});
				}
           },
        });
        //分页
        $(manager_table).jqGrid('navGrid', manager_pager, {
            edit: false,
            add: false,
            del: false,
            search: false,
            refresh: false,
        })
		
		
    });
	</script>
</body>
</html>