<!DOCTYPE html>
<html lang="en">
<head>
    #parse("tags.vm")
</head>
<body>
<div class="container">
		<div class="page-header">
          <h1>创建项目</h1>
        </div>
    <form class="form-horizontal" role="form" id="createForm"   method="post" action="/project/addOrEdit">
        <div class="form-group">
            <label class="col-sm-2 control-label">项目名称： </label>
            <div class="col-sm-3">
                <input type="text" name="name" value="$!{projectVo.name}" class="form-control">
            </div>
            <label class="col-sm-2 control-label"> 招标单位：</label>
            <div class="col-sm-3">
                <input type="text" name="tenderee" value="$!{projectVo.tenderee}" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"> 设计单位： </label>
            <div class="col-sm-3">
                  <input type="text" name="designer"  value="$!{projectVo.designer}" class="form-control">
            </div>
            <label class="col-sm-2 control-label"> 代理单位： </label>
            <div class="col-sm-3">
                  <input type="text" name="agent" value="$!{projectVo.agent}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"> 项目所在地： </label>
            <div class="col-sm-7">
                <input type="text" name="address" value="$!{projectVo.address}" class="form-control">
            </div>
        </div>
		
		<div class="form-group">
            <label class="col-sm-2 control-label"> 产品类型：</label>
            <div class="col-sm-8">
                <div class="checkbox">
                    #foreach($productType in $productTypeList)
                        <label style="width: 120px;"><input name="type" class="designerBudget"
                                      id="budget_$!{productType.id}" type="checkbox"
                                      value="$!{productType.id}"   />$!{productType.name}&nbsp;&nbsp;
                        </label>
                    #end
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"> 招标日期： </label>
            <div class="col-sm-3">
				 <input type="text"   name="tenderTime"
                       value='$dateTimeUtil.format($!{projectVo.tenderTime}, "yyyy-MM-dd")'
                       onClick="WdatePicker({dateFmt:'yyyy-MM-dd'});" class="form-control"  >
            </div>
			 <label class="col-sm-2 control-label">报备： </label>
            <div class="col-sm-3">
                  <input type="text" name="report" value="$!{projectVo.report}" class="form-control">
            </div>
        </div>
		<div class="form-group">
			  <div class="col-sm-offset-4 col-sm-10">
				<input id="passButton" type="button" class="btn btn-primary"
                   onclick="commit();"
                   value="提交"/>
            </div>
		 </div>
    </form>
</div>

<script type="text/javascript">
    //确认提交
	
        function commit(id){
			 confirmShows("确认提交？", function () {
			  	 $("#createForm").ajaxSubmit(function(data) { 
                    // 提交成功后处理，message为提交页面的返回内容 
					 alertShow(data.msg, function () {
					 	location.reload();
                    });
                });
			   });
		}
</script>

</body>
</html>