<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>提报</title>
	#parse("tags.vm")
	<link rel="stylesheet" href="#springUrl('/js/uploadify/uploadify.css')">
<script src="#springUrl('/js/uploadify/jquery.uploadify.min.js')"></script>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ace-ie.min.css"/>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <style>
        .tags {
            height: 41px;
            width: 100%;
        }

        .icon-plus-sign {
            position: absolute;
            right: 16px;
            top: 8px;
            font-size: 25px;
            color: #5a87a2;
            cursor: pointer;
        }

        .laydate_box, .laydate_box *, .laydate_box *:before, .laydate_box *:after {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }

        .laydate_box input[readonly] {
            background: #fff !important;
        }

        .input-group-addon {
            width: auto;
        }
        .file-label:before {
            background-color: #fff !important;
        }
    </style>
</head>
<body>
#parse("header.vm")
<div class="main-container" id="main-container">

    <div class="main-container-inner">

        #parse("menu.vm")

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/index">首页</a>
                    </li>
                    <!--<li>-->
                    <!--<a href="#">Other Pages</a>-->
                    <!--</li>-->
                    <!--<li class="active">Blank Page</li>-->
                </ul>
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
						<form  role="form" id="createForm" enctype="multipart/form-data"  method="post" action="/event/addOrEdit">
                        <div class="row form-horizontal">

                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4>事发地点</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label no-padding-right"> 村/社区 </label>
                                            <div class="col-sm-2">
                                                <select class="width-90 chosen-select" name="communityId">
                                                    <option value="">&nbsp;</option>
													   #foreach($address in $addressList)
														<option value="$!{address.id}">$!{address.name}</option>
														#end
                                                </select>
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right"> 网格 </label>
                                            <div class="col-sm-2" >
                                                <input type="text" class="col-sm-12" name="window">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label no-padding-right"> 详细位置 </label>
                                            <div class="col-sm-5">
                                                <input type="text" class="col-sm-12" name="address">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="space-10"></div>

                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4>上报来源</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label no-padding-right"> 诉求人 </label>
                                            <div class="col-sm-2">
                                                <input type="text" class="col-sm-12" name="appellant">
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right"> 联系方式 </label>
                                            <div class="col-sm-2">
                                                <input type="text" class="col-sm-12" name="appellantTel">
                                            </div>

                                        </div>
                                        <div>
                                            <label for="form-field-8">备注：</label>
                                            <textarea class="form-control" id="form-field-8" placeholder="点击填写" name="appellantRemark"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="space-10"></div>

                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4>问题详情</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="alert alert-info" style="text-align: center;font-size: 16px;">
											<input type="hidden" value="$!{eventType.key}" name="eventType">
                                            <strong>上报类型：$!{eventType.value}</strong>
                                        </div>
                                        <div class="form-group" style="margin-left: 0">
                                             
                                            <label class="col-sm-1 control-label no-padding-right"> 上报时间 </label>
                                            <div class="col-sm-2">
                                                <div class="input-group">
                                                    <input class="" id="report-time-picker" type="text" name="reportTime">
                                                    <span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
                                                </div>
                                            </div>

                                            <label class="col-sm-2 control-label no-padding-right"> 事件级别 </label>
                                            <div class="btn-group col-sm-2">
                                                <select class="form-control" id="form-field-select-1" name="grade">
                                                    <option value="1">一般</option>
                                                    <option value="2">严重</option>
                                                    <option value="3">重大</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div>
                                            <label for="form-field-8">事件描述：</label>
                                            <textarea class="form-control" id="form-field-8" placeholder="点击填写" name="description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="space-10"></div>

                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4>附件上传</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <input type="file" id="id-input-file-2" name="attachment"/>
                                        <div id="file-up-1" class="ace-file-input" style="width: 400px;display: none"><label class="file-label selected" data-title=""><span class="file-name"><i class="icon-file"></i><span id="up-file-name"></span></span></label><a class="remove" style="cursor: pointer" id="up-file-remove"><i class="icon-remove"></i></a></div>
                                        <div class="well well-sm" style="margin-bottom: 0"> 要求：文件不大于10M</div>
                                    </div>
                                    <input id="input-file-2" hidden name="attachment">
                                </div>
                            </div>

                            <div class="space-10"></div>

                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4>相关人员</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="form-group" style="margin-left: 0">
                                            <label class="col-sm-1 control-label no-padding-right"> 审核人 </label>
                                            <div class="col-sm-2">
												<input type="hidden" id="auditorId" name="auditorId">
                                                <div class="tags" id="add_shr">
                                                    
                                                </div>
                                                <i class="icon-plus-sign get-people" data-title="审核人"></i>
                                            </div>

                                            <label class="col-sm-1 control-label no-padding-right"> 抄送人 </label>
                                            <div class="col-sm-2">
												<input type="hidden"  id="ccUserId" name="ccUserId">
                                                <div class="tags" id="add_csr">
                                                    
                                                </div>
                                                <i class="icon-plus-sign get-people" data-title="抄送人"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="space-10"></div>

                            <div style="text-align: center">
                                <a onclick="commit()" class="btn btn-lg btn-success"  >
                                    <i class="icon-ok"></i>
                                    提交
                                </a>
                            </div>
                        </div>

						#parse("common/choice_user.vm")
                    
</form> 
                        <!-- PAGE CONTENT ENDS -->
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<script>
    $(function () {
        $(".chosen-select").chosen();

        $("#id-input-file-2").uploadify({
            height        : 30,
            buttonText:'上传文件',
            buttonClass : 'up-class',
            swf           : '/js/uploadify/uploadify.swf',
            uploader      : '/file/upload',
			//服务器段访问的名称  
            fileObjName :'attachment', 
			method: 'post',
            progressData : 'percentage',
            width         : 120,
			multi : true,
            onUploadSuccess : function(file, data, response) {
				if(JSON.parse(data).code==200){
                    $('#file-up-1').show();
                    $('#up-file-name').text(file.name);
                    $('#input-file-2').val(JSON.parse(data).value);
				}else{
					alertShow(JSON.parse(data).msg);
				}
            }
        });

        $('#up-file-remove').on('click',function () {
            $('#file-up-1').hide();
            $('#up-file-name').text('');
            $('#input-file-2').val('');
        });

        laydate({
            elem: '#report-time-picker',
            format: 'YYYY-MM-DD hh:mm:ss', // 分隔符可以任意定义，该例子表示只显示年月
            festival: true, //显示节日,
            istime: true, //是否开启时间选择
            choose: function (datas) { //选择日期完毕的回调
//                alert('得到：' + datas);
            }
        });

//        $(' #id-input-file-2').ace_file_input({
//            no_file: '无文件 ...',
//            btn_choose: '选择',
//            btn_change: '修改',
//            droppable: false,
//            onchange: null,
//            thumbnail: false //| true | large
//            //whitelist:'gif|png|jpg|jpeg'
//            //blacklist:'exe|php'
//            //onchange:''
//            //
//        });

        $('.get-people').on('click', function () {
            $('#model_title').text('选择' + $(this).data('title'));
            $('#modal-table').modal('show');
			if ($('#model_title').text().indexOf('审核人') > 0) {
                //弹出的窗口是给审核人的
				getUser(1,$!{user.role.id});
            } else {
                //弹出的窗口是给抄送人的
				getUser(1,3);
            }
        });

        $('.tags').on('click', '.close', function () {
            $(this).parent().remove();
        });

        $('.select-p-wrap').on('click', '.select-p', function () {
            if ($('#model_title').text().indexOf('审核人') > 0) {
                //弹出的窗口是给审核人的
				$('#auditorId').val($(this).data('id'));
                $('#add_shr').empty().append('<span class="tag">' + $(this).data('name') + '<button type="button" class="close">×</button></span>');
            } else {
                //弹出的窗口是给抄送人的
				$('#ccUserId').val($(this).data('id'));
                $('#add_csr').empty().append('<span class="tag">' + $(this).data('name') + '<button type="button" class="close">×</button></span>');
            }
            $('#modal-table').modal('hide');
           
        });
    })
    ;
	 
   function getUser(page,roleId){
  	    var name =  $('#sname').val();
		 $.ajax({
                type: "get",
                url: '/user/rolePageList',
                data: {
                   page:page,name:name,roleId:roleId
                },
                dataType: 'json',
                success: function (data) {
                     //提示审核通过成功信息并刷新页面
	                 $("#tbody").empty(); 
	                 var user = data.rows; 
	                //循环添加  
	                 for(var j=0;j<user.length;j++){  
	                    var option = "<tr>"+
                            "<td>"+user[j].id+"</td>"+
                            "<td>"+user[j].name+"</td>"+
                            "<td>"+user[j].role.roleName+"</td>"+
                            "<td>"+"<a class='select-p' href='javascript:void(0)' data-id='"+user[j].id+"' data-name='"+user[j].name+"'>选择</a></td>"+
                        	"</tr>";  
	                   
	                   $("#tbody").append(option);  
	                }  
	                
	                $("#pager").empty(); 
	                $("#pager").append("<li class='prev'><a onclick='getUser("+data.pre+","+roleId+")'><i class='icon-double-angle-left'></i></a></li>");  
	               //循环添加  
	                 for(var j=1;j<=data.total;j++){  
	                    var option = "<li ";
	                    if(data.page==j){option = option+	"class='active' "; }
                        option = option+ "><a onclick='getUser("+j+","+roleId+")'>"+j+"</a></li>";
	                   $("#pager").append(option);  
	                }  
                    $("#pager").append("<li class='next'><a onclick='getUser("+data.next+","+roleId+")'><i class='icon-double-angle-right'></i></a></li>");
                },
                error: function (data) {
                    if(data.msg){
                        alertShow(data.msg);
                    }
                    if(data.readyState == 4){
                        alertShow("Request Not Found");
                    }
                }
            });
	 }
    //确认提交
	
        function commit(){
			 confirmShows("确认提交？", function () {
			  	 $("#createForm").ajaxSubmit(function(data) { 
                    // 提交成功后处理，message为提交页面的返回内容 
					if(data.code==200){
    					 alertShow(data.msg, function () {
    					 	location.reload();
                       	  });
					}else{
						 alertShow(data.msg);
					}  
                });
			   });
		}
</script>

</body>
</html>