<!DOCTYPE html>
<html lang="en">
<head>
    #parse("tags.vm")
</head>
<body>
		<!--组织弹出框 -->
	#parse("common/ztree.vm")
	<div class="search_form">
        <form role="form" id="searchManagerForm">
            <label>姓名</label>
            <input class="input" type="text" id="name" name="name" value=""/>
            <label>部门</label>
           <input type="hidden" id="departmentId" name="orgId"   class="input">
			 <input type="text"  readonly="readonly" id="department" name="department"  class="input">
			 <input id='selectButton' type='button' class='input' onclick='showOrganization()' value='选择部门'/> 			 
    	</form>
        <div class="search_form_opt">
            <button class="btn btn-primary" onclick="search({form:'searchManagerForm',grid:'grid_table'})">
                <i class="ace-icon fa fa-search"></i>搜索
            </button>
			<button class="btn btn-success" onclick="reloadTable('/user/pageList')">
				<i class="ace-icon fa fa-refresh"></i>刷新
			</button>
			<button class="btn btn-success" onclick="addNewTabs({title:'新增用户',url: '/user/detail'})">
				<i class="ace-icon fa fa-pencil-square"></i>新增用户
			</button>
        </div>
		 <div class="search_form_clear"></div>
    </div>
		<!--  表格 -->
        <table id="grid_table"></table>
        <!-- 分页 -->
        <div id="grid_pager"></div>
    <script>
	
	
    $(function () {
		var gridUrl = '/user/pageList';
        //初始化table
        var grid_table = "#grid_table";
        var grid_pager = "#grid_pager";
        //初始化table
        $(grid_table).jqGrid({
            url: gridUrl,
            datatype: "json",
            height: '100%',
            width: '100%',
            colNames: ['ID', '姓名','登录名', '部门','联系电话','密码','身份','状态','操作'],
            colModel: [
                {name: 'id', index: 'id', width: '10%'},
                {name: 'name', index: 'name', width: '10%'},
				{name: 'account', index: 'account', width: '10%'},
				{name: 'department', index: 'department', width: '10%'},
            	{name: 'mobile', index: 'mobile', width: '10%'},
				{name: 'password', index: 'password', width: '10%'},
				{name: 'identity', index: 'identity', width: '10%',formatter: formatIndentity},
				{name: 'isDeleted', index: 'isDeleted', width: '10%',formatter: formatIsDeleted},
				{name: 'operate',index: 'rowid', width: '20%',sortable: false },
			],
            viewrecords: true,
            rowNum: 10,
            rowList: [10, 25, 50, 100],
            pager: grid_pager,
            altRows: true,
            multiselect: true,
            multiboxonly: true,
            autowidth: true,
			 //添加操作
            gridComplete: function () {
                var ids = $(grid_table).getDataIDs();
                for (var i = 0; i < ids.length; i++) {
                    var rowid = ids[i];
 					//如果想获取选择的行的数据，只要传入rowId即可
                    var rowData = $(grid_table).jqGrid('getRowData',rowid);
                    //而这个rowData是一个对象，如果要获取选择的行的这个对象的属性值，如degreeId的值
                    //这个地方是获取每行里面列的值，用于判断某些按钮是否显示
                    var isDeleted = rowData.isDeleted;
					var activity ="<button class='btn btn-primary btn-sm ' style='margin-right: 6px' "
                            + "onclick='activity("+ rowid+")'><i class='ace-icon fa fa-pencil'></i>启用</button>";
					var deleted = "<button class='btn btn-primary btn-sm ' style='margin-right: 6px' "
                            + "onclick='deleted("+ rowid+")'><i class='ace-icon fa fa-pencil'></i>停用</button>";
                    var update = "<button class='btn btn-primary btn-sm ' style='margin-right: 6px' "
                            + "onclick=\"addNewTabs({title:'修改',url: '/user/detail?id="
                            + rowid
                            + "'})\"><i class='ace-icon fa fa-search-plus'></i>修改</button>";
					var opt  ;
					if("停用"==isDeleted){
				   		opt = activity;
				    }else if("正常"==isDeleted){
						opt = deleted;
					}  
					$(grid_table).jqGrid('setRowData', rowid, {
                            operate: opt+update,
                    });
                }
            },
            //更新翻页图标
            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    updatePagerIcons(table);
                }, 0);
            },
        });
        //分页
        $(grid_table).jqGrid('navGrid', grid_pager, {
            edit: false,
            add: false,
            del: false,
            search: false,
            refresh: false,
        })
		
    });
	function formatIndentity(cellvalue, options, cell) {
        if(0==cellvalue){
			return "用户";
		}else if (1==cellvalue){
			return "报价人";
		}else if (2==cellvalue){
			return "费用录入人";
		}else{
            return "-";
        }
    }
	function formatIsDeleted(cellvalue, options, cell) {
        if(0==cellvalue){
			return "正常";
		}else if (1==cellvalue){
			return "停用";
		}else{
            return "-";
        }
    }
	
	function activity(id){
	confirmShows("确认启用？", function () {
                             opt(id,0);
                        });
	} 
	function deleted(id){
	confirmShows("确认停用？", function () {
                             opt(id,1);
                        });
	} 
	
	function opt(id,isDeleted){
		 $.ajax({
                type: "post",
                url: '/user/opt',
                data: {
                   id:id,isDeleted:isDeleted
                },
                dataType: 'json',
                success: function (data) {
					 alertShow(data.msg, function () {
						location.reload();
                    });
                },
                error: function (data) {
                    if(data.msg){
                        alertShow(data.msg);
                    }
                    if(data.readyState == 4){
                        alertShow("Request Not Found");
                    }
                }
            });
	}
	
	</script>
</body>

</html> 