<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>用户管理</title>
    #parse("tags.vm")
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ace-ie.min.css"/>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
#parse("header.vm")

<div class="main-container" id="main-container">

    <div class="main-container-inner">

        #parse("menu.vm")

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/index">首页</a>
                    </li>
                    <!--<li>-->
                    <!--<a href="#">Other Pages</a>-->
                    <!--</li>-->
                    <!--<li class="active">Blank Page</li>-->
                </ul>
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="row form-horizontal">
                         <form  role="form" id="searchForm"  method="get" action="/user/list">
                            <div class="form-group" style="max-width: 1100px;">
                                <label class="col-sm-1 control-label no-padding-right"> 用户名 </label>
                                <div class="col-sm-2">
                                    <input type="text" class="col-sm-12" name="account">
                                </div>
                                <label class="col-sm-1 control-label no-padding-right"> 真实姓名 </label>
                                <div class="col-sm-2">
                                    <input type="text" class="col-sm-12" name="name">
                                </div>
                                <label class="col-sm-1 control-label no-padding-right"> 手机号 </label>
                                <div class="col-sm-2">
                                    <input type="text" class="col-sm-12" name="mobile">
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-sm btn-primary" style="width: 100px;margin-right: 10px;">
                                        查询
                                        <i class="icon-search bigger-110"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group" style="max-width: 1100px;">
                                <label class="col-sm-1 control-label no-padding-right"> </label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="isDeleted">
                                    	<option value="">全部状态</option>
                                        <option value="0">待审核</option>
                                        <option value="1">正常</option>
                                        <option value="2">禁用</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right"> </label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="roleId">
                                    	<option value="">全部权限</option>
                                    	#foreach($role in $roles)
                                        <option value="$!{role.id}">$!{role.roleName}</option>
                                        #end
                                    </select>
                                </div>
                            </div>
                            </form>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>用户ID</th>
                                            <th>用户名</th>
                                            <th>真实姓名</th>
                                            <th>手机号</th>
                                            <th>所在责能部门</th>
                                            <th>用户权限</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        #foreach($user in $result.rows)
                                        <tr>
                                            <td>$!{user.id}</td>
                                            <td>$!{user.account}</td>
                                            <td>$!{user.name}</td>
                                            <td>$!{user.imobiled}</td>
                                            <td>$!{user.department}</td>
                                            <td>$!{user.role.roleName}</td>
                                            <td>
                                            	#if ($!{user.isDeleted}==0)
													待审核 
												#elseif	($!{user.isDeleted}==1)
													正常
												#elseif	($!{user.isDeleted}==2)
													禁用
												#end
                                            </td>
                                            <td>
                                            	#if ($!{user.isDeleted}==0)
													<a href="javascript:void(0)" onclick="pass($!{user.id})" >审核通过</a>
													<a href="javascript:void(0)" onclick="refuse($!{user.id})">拒绝</a>
												#elseif	($!{user.isDeleted}==1)
													<a href="javascript:void(0)" onclick="disable($!{user.id})"  >禁用</a>
													<a href="javascript:void(0)" class="ml-10" onclick="changePermission($!{user.id})">修改权限</a>
												#elseif	($!{user.isDeleted}==2)
													<a href="javascript:void(0)" onclick="recover($!{user.id})"  >启用</a>
												#end
                                            </td>
                                        </tr>
                                          #end
                                        </tbody>
                                    </table>
                                </div><!-- /.table-responsive -->
                            </div><!-- /span -->
                        </div>

                        <div style="text-align: center;">
                            <ul class="pagination">
                                 <li  >
                                    <a href="/user/list?page=$!{result.pre}">
                                        <i class="icon-double-angle-left"></i>
                                    </a>
                                </li>
								
								 #foreach($page in [1..$result.total])
								 <li 
									#if($result.page==$!{page})
									class="active" 
									#end
								 ><a href="/user/list?page=$!{page}">$!{page}</a></li>
								 #end
 
                                <li>
                                    <a href="/user/list?page=$!{result.next}">
                                        <i class="icon-double-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- PAGE CONTENT ENDS -->
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<div class="pops">
    <div id="change_permission" class="modal fade select-p-wrap" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style="width: 306px">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="table-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <span class="white">×</span>
                        </button>
                        <span class="user-reg-title">修改权限</span>
                    </div>
                </div>

                <div class="modal-body no-padding">
                  <form  role="form" id="roleForm"  method="post" action="/user/role">
                    <div class="form-group" style="margin-top: 10px;margin-bottom: 10px">
                        <div class="row">
                            <div class="ml-30" style="width: 245px;margin-bottom: 10px">
                           		<input type="hidden" id="userId" class="col-sm-12" name="id">
                                <select class="form-control" name="roleId">
                                    <option value="AL">请选择新的权限</option>
                                    #foreach($role in $roles)
                                    <option value="$!{role.id}">$!{role.roleName}</option>
                                    #end
                                </select>
                            </div>
                        </div>
                        <div class="row" style="text-align: center">
                                <a id="reg_submit" class="btn btn-sm btn-info " onclick="commit()" type="button" style="margin-right: 8px;">
                                    <i class="icon-ok bigger-110"></i>提交
                                </a>
                                <a class="btn btn-sm btn-danger" data-dismiss="modal" style="margin-right: 10px">
                                    <i class="icon-remove"></i>取消
                                </a>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/jquery-1.10.2.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/ace-elements.min.js"></script>
<script src="assets/js/ace.min.js"></script>
<script>

	 function commit(){
			 confirmShows("确认提交？", function () {
			  	 $("#roleForm").ajaxSubmit(function(data) { 
                    // 提交成功后处理，message为提交页面的返回内容 
					 alertShow(data.msg, function () {
					 	location.reload();
                    });
                });
			   });
		}
	
    function changePermission(id) {
        $('#change_permission').modal('show');
       $('#userId').val(id);
    }
    
    function pass(id) {
     	confirmShows("确认通过？", function () {
    		opt(id,1) ;
    	});
    }
	function refuse(id) {
		confirmShows("确认拒绝？", function () {
    		opt(id,3) ;
    	});
    } 
	function disable(id)  {
		confirmShows("确认禁用？", function () {
    		opt(id,2) ;
    	});
    }
	function recover(id)  {
		confirmShows("确认启用？", function () {
    		opt(id,1) ;
    	});
    }
    
    function opt(id,isDeleted)  {
     $.ajax({
                type: "post",
                url: '/user/opt',
                data: {
                   id:id,isDeleted:isDeleted
                },
                dataType: 'json',
                success: function (data) {
                    alertShow(data.msg, function () {
					 	location.reload();
                    });
                },
                error: function (data) {
                    if(data.msg){
                        alertShow(data.msg);
                    }
                    if(data.readyState == 4){
                        alertShow("Request Not Found");
                    }
                }
            });
    }
</script>
</body>
</html>