<div class="navbar navbar-default" id="navbar">
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
          <a href="/index" class="navbar-brand">
                <small>
                    <i class="home-logo"></i>
                    "平安汊涧"大联动网格管理系统
                </small>
            </a>
        </div>
		#if(  $!{user.role.roleCode}!="null")
			<div id="alert" class="alert alert-warning pull-left" style="margin-top: 20px;margin-left: 20px;display:none">
               
            </div>	
			<script>
            	$(function(){
				var html="<button type='button' class='close' data-dismiss='alert'><i class='icon-remove'></i></button>您有 <strong>1</strong> 条上报需要审核。上报类型：<a href='javascript:'>治安防范</a><br>";
                setInterval(function(){
        			 $.ajax({
                    type: "post",
                    url: '/projectPrice/savePriceOfferItem',
                    dataType: 'json',
                    success: function (data) {
                        // 提交成功后处理，message为提交页面的返回内容 
        				  $("#alert").append();
						  //循环添加  
                         for(var j=0;j<data.length;j++){  
                            
                        }  
                    },
                    error: function (data) {
                        if(data.msg){
                            alertShow(data.msg);
                        }
                        if(data.readyState == 4){
                            alertShow("Request Not Found");
                        }
                    }
                });
                }，6000)//后面的500是以毫秒为单位。
            });
            </script>
		#end
        
        <div class="navbar-header pull-right" role="navigation" style="padding-top: 25px">
            <ul class="nav ace-nav">
                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <span class="user-info"><small>欢迎</small>$!{user.account}</span>
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="/user/account">
                                <i class="icon-user"></i>
                                账号管理
                            </a>
                        </li>

                        <li>
                            <a href="/logout">
                                <i class="icon-off"></i>
                                退出登录
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
