<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/ace.min.css"/>
    <link rel="stylesheet" href="css/index.css">
</head>
<body> 
<div class="head">
    <div class="container">
        <div class="p1"></div>
        <div class="p2">
            <a href="javascript:void(0)" class="active">首页</a>
            <a href="/event/allReport?eventType=1">治安防范</a>
            <a href="/event/allReport?eventType=2">集镇管理</a>
            <a href="/event/allReport?eventType=3">矛盾纠纷</a>
            <a href="/event/allReport?eventType=4">基层党建</a>
            <a href="/event/allReport?eventType=5">民生服务</a>
            <a href="/event/allReport?eventType=6">其他服务</a>
        </div>
        <div class="p3">
			#if(!$user.name)
				 <a href="/login">登陆</a>/
				 <a id="register">注册</a>
			#else
				$!{user.name}
			#end
        <!--<a>注册</a>-->
        </div>
    </div>
</div>
<div class="banner">
    <img src="img/index/banner.jpg">
</div>
<div class="links">
    <div class="inner">
        <a href="/event/submission?eventType=1">
            <img src="img/index/zaff.png">
        </a>
        <a href="/event/submission?eventType=2">
            <img src="img/index/jzgl.png">
        </a>
        <a href="/event/submission?eventType=3">
            <img src="img/index/mdjf.png">
        </a>
        <a href="/event/submission?eventType=4">
            <img src="img/index/jcdj.jpeg">
        </a>
        <a href="/event/submission?eventType=5">
            <img src="img/index/msfw.png">
        </a>
        <a href="/event/submission?eventType=6">
            <img src="img/index/qtfw.png">
        </a>
    </div>
</div>
<div class="footer">
    <div class="f-ng">
        <img src="img/index/foot-bg.jpg">
    </div>
    <div class="container">
        <div class="f-links">
            <a href="javascript:void(0)">首页</a>
            <a href="/event/allReport?eventType=1">治安防范</a>
            <a href="/event/allReport?eventType=2">集镇管理</a>
            <a href="/event/allReport?eventType=3">矛盾纠纷</a>
            <a href="/event/allReport?eventType=4">基层党建</a>
            <a href="/event/allReport?eventType=5">民生服务</a>
            <a href="/event/allReport?eventType=6">其他服务</a>
        </div>
    </div>
    <div class="container">
        <div class="beian">Copyright © 2017 www.njxinnuomedia.com. 南京心诺文化传媒有限公司所有　苏ICP备16002202号-1</div>
    </div>
  <div class="pops">
        <div id="modal_login" class="modal fade select-p-wrap" tabindex="-1" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header no-padding">
                        <div class="table-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span class="white">×</span>
                            </button>
                            <span class="user-reg-title">用户注册</span>
                        </div>
                    </div>

                    <div class="modal-body no-padding">
                        <div class="alert alert-warning">
                            提示：注册信息必须是真实信息，否则上报事件无法及时何时是否属实，可能导致处置延迟
                        </div>
                        <form  role="form" id="createForm"  method="post" action="/regist">
                        <div class="form-group" style="margin-top: 10px;margin-bottom: 10px">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="input-group">
								        <span class="input-group-addon">用户名</span>
                                        <input class="form-control" type="text" name="account">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="input-group">
								        <span class="input-group-addon">责任部门</span>
                                        <select class="form-control" id="" name="departmentId">
											<option value=""></option>
                                             #foreach($organization in $organizationList)
    											<option value="$!{organization.id}">$!{organization.name}</option>
    										 #end
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">密码</span>
                                        <input class="form-control" type="text" name="password">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">真实姓名</span>
                                        <input class="form-control" type="text" name="name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">确认密码</span>
                                        <input class="form-control" type="text" name="confirmPassword">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">手机号</span>
                                        <input class="form-control" type="text" name="mobile">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">验证码</span>
                                        <input class="form-control" type="text" name="captcha" style="width: 120px">
                                        <img style="margin-left: 10px;margin-top: 2px;" src="/captcha">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <a id="reg_submit" class="btn btn-sm btn-info pull-right" type="button" style="margin-right: 8px;">
                                        <i class="icon-ok bigger-110"></i>提交
                                    </a>
                                    <a class="btn btn-sm btn-danger pull-right" data-dismiss="modal" style="margin-right: 10px">
                                        <i class="icon-remove"></i>取消
                                    </a>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="assets/js/jquery-1.10.2.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/msgbox.js"></script>
<script src="assets/js/alert.min.js"></script>
    <script src="/js/common.js"></script>
	<script src="/js/urms.common.js"></script>
	<script src="/js/jquery.form.js"></script>
<script>
    $('#register').on('click', function () {
        $('#modal_login').modal('show');
    });

    $('#reg_submit').on('click',function () {
        //TODO 提交表单
 		confirmShows("确认提交？", function () {
			  	 $("#createForm").ajaxSubmit(function(data) { 
                    // 提交成功后处理，message为提交页面的返回内容 
					 alertShow(data.msg, function () {
					 	 if(data.code==200){
					 	   // 提交成功搞这个
					        CHE.alert({
					            title: "注册申请已提交",
					            text: '<p>注册申请已提交</p><p>请等待管理员的审核</p><p>审核通过后即可登录系统</p>',
					            html: true,
					            showConfirmButton: true,
					            type:'success'
					        });
					 	 }else{
					 	   /**
					         * 第一个参数：要提示的信息
					         * 第二个参数：图标类型:[1:提醒,4:成功,5:错误,6:加载中]
					         * 第三个参数：多少毫秒后关闭
					         */
					        // 表单错误搞这个
					        CHE.msgbox.show(data.msg, 5, 2000);
					 	 
					 	 }
                    });
                });
			   });

    });

</script>
</body>
</html>