<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta http-equiv="pragma" content="no-cache"/>
	<meta http-equiv="cache-control" content="no-cache"/>
	<meta http-equiv="expires" content="0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>user</title>
 <link rel="stylesheet" href="#springUrl('/css/reset.css')"/>
<link rel="stylesheet" href="#springUrl('/css/structure.css')"/>
</head>

<body >
 <form class="box login"  action="/toLogin" method="post">
	<fieldset class="boxBody">
	  <label>用户名</label>
	  <input type="text" name="account" tabindex="1"  required>
	  <label>密码</label>
	  <input type="password"  name="password"  tabindex="2" required>
	</fieldset>
	<footer>
	  <input type="submit" class="btnLogin" value="登录" tabindex="3">
	</footer>
</form>
</body>

</html>