<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>处置</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="assets/css/ace.min.css"/>

    <link rel="stylesheet" href="assets/css/laydate/laydate.css">
    <link rel="stylesheet" href="assets/css/laydate/skins/default/laydate.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ace-ie.min.css"/>
    <![endif]-->
    <script src="assets/js/ace-extra.min.js"></script>
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <style>
        .laydate_box, .laydate_box *, .laydate_box *:before, .laydate_box *:after {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }

        .laydate_box input[readonly] {
            background: #fff !important;
        }

        .input-group-addon {
            width: auto;
        }
    </style>
</head>
<body>

<div class="navbar navbar-default" id="navbar">
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <i class="icon-leaf"></i>
                    平安汊涧
                </small>
            </a>
        </div>

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="assets/avatars/user.jpg" alt="Jason's Photo">
                        <span class="user-info"><small>欢迎</small>管理员</span>
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#">
                                <i class="icon-user"></i>
                                账号管理
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon-off"></i>
                                退出登录
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="main-container" id="main-container">

    <div class="main-container-inner">

        <div class="sidebar" id="sidebar">
            <ul class="nav nav-list">
                <li>
                    <a href="home.html">
                        <i class="icon-dashboard"></i>
                        <span class="menu-text"> 首页 </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-desktop"></i>
                        <span class="menu-text"> 分类列表 </span>
                        <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="elements.html">
                                <i class="icon-double-angle-right"></i>
                                治安防范
                            </a>
                        </li>
                        <li>
                            <a href="buttons.html">
                                <i class="icon-double-angle-right"></i>
                                集镇管理
                            </a>
                        </li>
                        <li>
                            <a href="treeview.html">
                                <i class="icon-double-angle-right"></i>
                                矛盾纠纷
                            </a>
                        </li>
                        <li>
                            <a href="jquery-ui.html">
                                <i class="icon-double-angle-right"></i>
                                基层党建
                            </a>
                        </li>
                        <li>
                            <a href="nestable-list.html">
                                <i class="icon-double-angle-right"></i>
                                为民服务
                            </a>
                        </li>
                        <li>
                            <a href="nestable-list.html">
                                <i class="icon-double-angle-right"></i>
                                其他服务
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-list"></i>
                        <span class="menu-text"> 数据统计 </span>
                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="tables.html">
                                <i class="icon-double-angle-right"></i>
                                统计
                            </a>
                        </li>

                        <li>
                            <a href="jqgrid.html">
                                <i class="icon-double-angle-right"></i>
                                统计分析
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-edit"></i>
                        <span class="menu-text"> 我的 </span>
                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="form-elements.html">
                                <i class="icon-double-angle-right"></i>
                                我的事件
                            </a>
                        </li>

                        <li>
                            <a href="form-wizard.html">
                                <i class="icon-double-angle-right"></i>
                                发送通知
                            </a>
                        </li>

                        <li>
                            <a href="wysiwyg.html">
                                <i class="icon-double-angle-right"></i>
                                查看通知
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="active open">
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-tag"></i>
                        <span class="menu-text"> 更多页面 </span>
                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu" style="display: none;">
                        <li>
                            <a href="submission.html">
                                <i class="icon-double-angle-right"></i>
                                提报
                            </a>
                        </li>

                        <li>
                            <a href="approval.html">
                                <i class="icon-double-angle-right"></i>
                                审批
                            </a>
                        </li>

                        <li class="active">
                            <a href="manage.html">
                                <i class="icon-double-angle-right"></i>
                                处置
                            </a>
                        </li>

                        <li>
                            <a href="allReport.html">
                                <i class="icon-double-angle-right"></i>
                                全部上报
                            </a>
                        </li>

                        <li>
                            <a href="closed.html">
                                <i class="icon-double-angle-right"></i>
                                已关闭的
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
            </div>

        </div>

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="#">首页</a>
                    </li>
                    <!--<li>-->
                    <!--<a href="#">Other Pages</a>-->
                    <!--</li>-->
                    <!--<li class="active">Blank Page</li>-->
                </ul>
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="row form-horizontal">

                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4>事发地点</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label no-padding-right"> 村/社区： </label>
                                            <label class="col-sm-1 control-label no-padding-right text-left"> 大王村 </label>
                                            <label class="col-sm-1 control-label no-padding-right"> 网格： </label>
                                            <label class="col-sm-1 control-label no-padding-right text-left"> 3队 </label>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label no-padding-right"> 详细位置： </label>
                                            <label class="col-sm-5 control-label no-padding-right text-left"> 大王村王屋路3号 </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="space-10"></div>

                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4>上报来源</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label no-padding-right"> 述求人： </label>
                                            <label class="col-sm-1 control-label no-padding-right text-left"> 吴彦祖 </label>
                                            <label class="col-sm-1 control-label no-padding-right"> 联系方式： </label>
                                            <label class="col-sm-1 control-label no-padding-right text-left"> 15888888888 </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="space-10"></div>

                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4>问题详情</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="alert alert-info" style="text-align: center;font-size: 16px;">
                                            <strong>上报类型：治安防范</strong>
                                        </div>
                                        <div class="form-group" style="margin-left: 0">
                                            <span class="col-sm-3 label label-xlg label-primary arrowed">事件编号：ZAFF201704119801</span>
                                            <label class="col-sm-1 control-label no-padding-right"> 上报时间： </label>
                                            <label class="col-sm-2 control-label no-padding-right text-left"> 2017年4月11日16:14 </label>
                                            <label class="col-sm-1 control-label no-padding-right"> 事件级别： </label>
                                            <label class="col-sm-1 control-label no-padding-right text-left"> 重大 </label>
                                        </div>

                                        <div class="alert alert-block alert-success">
                                            <label>事件描述：</label>
                                            <div>通过本接口获取的群ID和群名称，开发者可以知道用户是否来自同一个微信群。一方面可为不同微信群内的用户提供更个性化的服务；另一方面相同微信群内的用户之间可以更好地进行协作，例如共同编辑文档、协同合作等。</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="space-10"></div>

                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4>附件</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <label>智慧城市解决方案部-周辰-Q1Q2绩效.xml</label>
                                        <a style="cursor: pointer;margin-left: 10px">查看附件</a>
                                    </div>
                                </div>
                            </div>

                            <div class="space-10"></div>

                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4>相关人员</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="form-group" style="margin-bottom: 0;">
                                            <div class="well well-sm col-sm-2" style="margin-left: 20px">提报人：鬼王</div>
                                            <div class="well well-sm col-sm-2" style="margin-left: 20px">审核人：林惊羽</div>
                                            <div class="well well-sm col-sm-2" style="margin-left: 20px">抄送人：万剑一</div>
                                            <div class="well well-sm col-sm-2" style="margin-left: 20px">派遣人：待定</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="space-10"></div>

                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4>处理记录</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                            <thead>
                                            <tr>
                                                <th>处理内容</th>
                                                <th>处理人</th>
                                                <th>处理时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>提交</td>
                                                <td>王宝强</td>
                                                <td>2017/04/11 10:41</td>
                                            </tr>
                                            <tr>
                                                <td>提交</td>
                                                <td>王宝强</td>
                                                <td>2017/04/11 10:41</td>
                                            </tr>
                                            <tr>
                                                <td>提交</td>
                                                <td>王宝强</td>
                                                <td>2017/04/11 10:41</td>
                                            </tr>
                                            <tr>
                                                <td>提交</td>
                                                <td>王宝强</td>
                                                <td>2017/04/11 10:41</td>
                                            </tr>
                                            <tr>
                                                <td>提交</td>
                                                <td>王宝强</td>
                                                <td>2017/04/11 10:41</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                            <div class="space-10"></div>

                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4>审批信息</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="form-group" style="margin-bottom: 0;">
                                            <div class="well well-sm col-sm-2" style="margin-left: 12px">责任部门：王村一队</div>
                                            <div class="well well-sm col-sm-2" style="margin-left: 12px">处置完成时间：2017/4/18 12:00</div>
                                        </div>
                                        <div class="alert alert-block alert-success">
                                            <label>处理要求：</label>
                                            <div>通过本接口获取的群ID和群名称，开发者可以知道用户是否来自同一个微信群。一方面可为不同微信群内的用户提供更个性化的服务；另一方面相同微信群内的用户之间可以更好地进行协作，例如共同编辑文档、协同合作等。</div>
                                        </div>
                                        <div class="alert alert-block alert-success">
                                            <label>备注：</label>
                                            <div>通过本接口获取的群ID和群名称，开发者可以知道用户是否来自同一个微信群。一方面可为不同微信群内的用户提供更个性化的服务；另一方面相同微信群内的用户之间可以更好地进行协作，例如共同编辑文档、协同合作等。</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="space-10"></div>

                            <div style="text-align: center">
                                <button class="btn btn-lg btn-primary" id="dispatch_task">填写处置结果</button>
                            </div>
                        </div>

                        <!--任务派遣弹窗-->
                        <div id="modal-table-1" class="modal fade select-p-wrap" tabindex="-1" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header no-padding">
                                        <div class="table-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <span class="white">×</span>
                                            </button>
                                            <span id="model_1_title">任务派遣</span>
                                        </div>
                                    </div>

                                    <div class="modal-body no-padding">
                                        <div class="form-group clearfix" style="margin-top: 10px;margin-bottom: 10px">
                                            <label class="col-sm-2 control-label no-padding-right text-right"> 处理截止时间 </label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <input class="" id="report-time-picker" type="text">
                                                    <span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="padding: 0 10px">
                                            <label for="form-field-8">处理要求：</label>
                                            <textarea class="form-control" id="form-field-1" placeholder="点击填写" style="height: 100px"></textarea>
                                        </div>
                                        <div class="form-group" style="padding: 0 10px">
                                            <label for="form-field-8">备注</label>
                                            <textarea class="form-control" id="form-field-8" placeholder="点击填写" style="height: 100px"></textarea>
                                        </div>
                                    </div>

                                    <div class="modal-footer no-margin-top text-center">
                                        <button class="btn btn-sm" data-dismiss="modal">
                                            <i class="icon-remove"></i>
                                            取消
                                        </button>
                                        <button class="btn btn-sm btn-primary">
                                            <i class="icon-remove"></i>
                                            提交
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- PAGE CONTENT ENDS -->
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<script src="assets/js/jquery-1.10.2.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/ace-elements.min.js"></script>
<script src="assets/js/ace.min.js"></script>
<script src="assets/js/laydate.js"></script>
<script>
    laydate({
        elem: '#report-time-picker',
        format: 'YYYY-MM-DD hh:mm:ss', // 分隔符可以任意定义，该例子表示只显示年月
        festival: true, //显示节日,
        istime: true, //是否开启时间选择
        choose: function (datas) { //选择日期完毕的回调
//                alert('得到：' + datas);
        }
    });

    $('#dispatch_task').on('click',function () {
        $('#modal-table-1').modal('show');
    });
</script>
</body>
</html>