 <div class="sidebar" id="sidebar">
            <ul class="nav nav-list">
                <li>
                    <a href="/index">
                        <i class="icon-dashboard"></i>
                        <span class="menu-text"> 首页 </span>
                    </a>
                </li>
					 #foreach($module in $!{user.modules})
                    <li 
                     #if($cur_module==$!{module.moduleCode})
							  class="active open"
						#end
                    >
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-desktop"></i>
                        <span class="menu-text"> $!{module.moduleName} </span>
                        <b class="arrow icon-angle-down"></b>
                    </a>
	                <ul class="submenu">
	                 #foreach($menu in $!{module.subMenu})
	                    <li 
	                    #if($cur_menu==$!{menu.moduleCode})
							class="active" 
						#end
	                    >
							 <a href=" $!{menu.modulePath}">
	                            <i class="icon-double-angle-right"></i>
	                          		  $!{menu.moduleName}
	                        </a>
	                    </li>
	                     #end
                    </ul>
                	</li>
                    #end
               
			</ul>
            <!--div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
            </div-->

        </div>