 <div class="sidebar" id="sidebar">
            <ul class="nav nav-list">
                <li>
                    <a href="home.html">
                        <i class="icon-dashboard"></i>
                        <span class="menu-text"> 首页 </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-desktop"></i>
                        <span class="menu-text"> 分类列表 </span>
                        <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="elements.html">
                                <i class="icon-double-angle-right"></i>
                                治安防范
                            </a>
                        </li>
                        <li>
                            <a href="buttons.html">
                                <i class="icon-double-angle-right"></i>
                                集镇管理
                            </a>
                        </li>
                        <li>
                            <a href="treeview.html">
                                <i class="icon-double-angle-right"></i>
                                矛盾纠纷
                            </a>
                        </li>
                        <li>
                            <a href="jquery-ui.html">
                                <i class="icon-double-angle-right"></i>
                                基层党建
                            </a>
                        </li>
                        <li>
                            <a href="nestable-list.html">
                                <i class="icon-double-angle-right"></i>
                                为民服务
                            </a>
                        </li>
                        <li>
                            <a href="nestable-list.html">
                                <i class="icon-double-angle-right"></i>
                                其他服务
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-list"></i>
                        <span class="menu-text"> 数据统计 </span>
                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="tables.html">
                                <i class="icon-double-angle-right"></i>
                                统计
                            </a>
                        </li>

                        <li>
                            <a href="jqgrid.html">
                                <i class="icon-double-angle-right"></i>
                                统计分析
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-edit"></i>
                        <span class="menu-text"> 我的 </span>
                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="form-elements.html">
                                <i class="icon-double-angle-right"></i>
                                我的事件
                            </a>
                        </li>

                        <li>
                            <a href="form-wizard.html">
                                <i class="icon-double-angle-right"></i>
                                发送通知
                            </a>
                        </li>

                        <li>
                            <a href="wysiwyg.html">
                                <i class="icon-double-angle-right"></i>
                                查看通知
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="active open">
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-tag"></i>
                        <span class="menu-text"> 更多页面 </span>
                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu" style="display: none;">
                        <li class="active">
                            <a href="/submission">
                                <i class="icon-double-angle-right"></i>
                                提报
                            </a>
                        </li>

                        <li>
                            <a href="approval.html">
                                <i class="icon-double-angle-right"></i>
                                审批
                            </a>
                        </li>

                        <li>
                            <a href="manage.html">
                                <i class="icon-double-angle-right"></i>
                                处置
                            </a>
                        </li>

                        <li>
                            <a href="/allReport">
                                <i class="icon-double-angle-right"></i>
                                全部上报
                            </a>
                        </li>

                        <li>
                            <a href="closed.html">
                                <i class="icon-double-angle-right"></i>
                                已关闭的
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
            </div>

        </div>