<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>发送通知</title>
    #parse("tags.vm")


    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ace-ie.min.css"/>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
 #parse("header.vm")
<div class="main-container" id="main-container">

    <div class="main-container-inner">

        #parse("menu.vm")

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/index">首页</a>
                    </li>
                    <!--<li>-->
                    <!--<a href="#">Other Pages</a>-->
                    <!--</li>-->
                    <!--<li class="active">Blank Page</li>-->
                </ul>
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="row form-horizontal">
							<form  role="form" id="createForm"  method="post" action="/message/addOrEdit">
                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4>发送通知</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
										<div class="form-group" style="max-width: 1100px;">
                                            <label class="pull-left control-label ml-20" style="line-height: 40px;padding-top: 0"> 网格员 </label>
                                            <div class="pull-left ml-10">
                                                <div class="tags pull-left" id="add_shr" style="min-width: 200px;position: relative;padding-right: 48px">
                                                    <i class="icon-plus-sign get-people" data-title="审核人" style="top: 6px"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <label for="form-field-8">通知内容：</label>
                                            <textarea class="form-control" id="form-field-8" name="content" placeholder="点击填写" style="height: 100px"></textarea>
                                        </div>
										<div class="widget-box">
                                            <div class="widget-header">
                                                <h4>附件上传</h4>
                                            </div>
                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <input type="file" id="id-input-file-2" name="file"/>
                                                    <div class="well well-sm" style="margin-bottom: 0"> 要求：文件不大于10M</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="text-align: center;margin-top: 10px">
                                            <a class="btn btn-sm btn-primary" onclick="commit()">
                                                <i class="icon-ok"></i>
                                                添加
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
						#parse("common/choice_user.vm")
                        <!-- PAGE CONTENT ENDS -->
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<script src="assets/js/jquery-1.10.2.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/laydate.js"></script>
<script src="assets/js/ace-elements.min.js"></script>
<script src="assets/js/ace.min.js"></script>
<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="assets/js/jquery.dataTables.bootstrap.js"></script>

<script>
    $(function () {
  		$('.get-people').on('click', function () {
            $('#model_title').text('选择' + $(this).data('title'));
            $('#modal-table').modal('show');
              getUser(1);
        });

        $('.tags').on('click', '.close', function () {
            $(this).parent().remove();
        });

        $('.select-p-wrap').on('click', '.select-p', function () {
			$('#replyId').val($(this).data('id'));
         	$('#add_shr').empty().append('<span class="tag">'+$(this).data('name')+'<button type="button" class="close">×</button></span>');
            $('#modal-table').modal('hide');
           
        });
    }) ;
   function getUser(page){
  	    var name =  $('#sname').val();
		 $.ajax({
                type: "get",
                url: '/user/rolePageList',
                data: {
                   page:page,name:name
                },
                dataType: 'json',
                success: function (data) {
                     //提示审核通过成功信息并刷新页面
	                 $("#tbody").empty(); 
	                 var user = data.rows; 
	                //循环添加  
	                 for(var j=0;j<user.length;j++){  
	                    var option = "<tr>"+
                            "<td>"+user[j].id+"</td>"+
                            "<td>"+user[j].name+"</td>"+
                            "<td>"+user[j].role.roleName+"</td>"+
                            "<td>"+"<a class='select-p' href='javascript:void(0)' data-id='"+user[j].id+"' data-name='"+user[j].name+"'>选择</a></td>"+
                        	"</tr>";  
	                   
	                   $("#tbody").append(option);  
	                }  
	                
	                $("#pager").empty(); 
	                $("#pager").append("<li class='prev'><a onclick='getUser("+data.pre+")'><i class='icon-double-angle-left'></i></a></li>");  
	               //循环添加  
	                 for(var j=1;j<=data.total;j++){  
	                    var option = "<li ";
	                    if(data.page==j){option = option+	"class='active' "; }
                        option = option+ "><a onclick='getUser("+j+")'>"+j+"</a></li>";
	                   $("#pager").append(option);  
	                }  
                    $("#pager").append("<li class='next'><a onclick='getUser("+data.next+")'><i class='icon-double-angle-right'></i></a></li>");
                },
                error: function (data) {
                    if(data.msg){
                        alertShow(data.msg);
                    }
                    if(data.readyState == 4){
                        alertShow("Request Not Found");
                    }
                }
            });
	 }
	 
	  function commit(){
			 confirmShows("确认提交？", function () {
			  	 $("#createForm").ajaxSubmit(function(data) { 
                    // 提交成功后处理，message为提交页面的返回内容 
					 alertShow(data.msg, function () {
					 	location.reload();
                    });
                });
			   });
		}
</script>

</body>
</html>